@import "../common/variables";

.background{

  background: {
    image: url('../images/background.jpg');
    repeat: no-repeat;
    position: top center;
  }
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;

}

.page{

  &__content{
    background-color: $grey-dark;
    margin-top: 150px;
    padding: 60px 20px 40px;
  }

}