@import "../common/variables";

.homepage{

  .slide{

    &_1, &_2{
      background: black;
      position: fixed;
      width: 50%;
      height: 100%;
      top: 0;
      z-index: 1000;
      transition: $transition_very_long;
    }

    &_throbber{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      width: 50px;
      height: 50px;
      background: url("/themes/gamegen/images/icons/ajax-loader.svg");
      background: {
        size: cover;
      };
      z-index: 1000;
    }

    &_1{
      left: 0%;
    }

    &_2{
      right: 0%;
    }

  }

  .slide_wrapper.loaded{
    .slide{
      &_1{
        left: -50%;
      }

      &_2{
        right: -50%;
      }
      &_throbber{
        display: none;
      }
    }
  }

  &__title{
    display: none;
  }

  #video_background{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    z-index: -100;
    @media(max-width: $break-xs){
      max-width: inherit;
      min-height: 100%;
    }
  }

  &__games{

    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  .game{

    flex: 1 0 (100%/3);
    margin: 5px;
    display: block;
    border: 1px solid black;
    filter: grayscale(70%);
    transition: $transition_medium;
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    }

    &:hover{
      text-decoration: none;
      border-color: $yellow;
      filter: grayscale(0%);
    }

    &__title{

      padding: 50px 0;
      text-align: center;
      display: block;
      font-size: 35px;
      color: white;

    }

  }

}