@import "../common/variables";

.homepage{

  background: black;

  &__title{
    display: none;
  }

  &__games{

    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  .game{

    flex: 1 0 (100%/3);
    margin: 5px;
    display: block;
    border: 1px solid black;
    filter: grayscale(50%);
    transition: $transition_medium;
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    }

    &:hover{
      text-decoration: none;
      border-color: $yellow;
      filter: grayscale(0%);
    }

    &__title{

      padding: 50px 0;
      text-align: center;
      display: block;
      font-size: 35px;
      color: white;

    }

  }

}