<a href="{{ content.field_game_link.0['#url_title'] }}" style="background-image: url({{ content.field_image.0['#markup'] }});" class="game">
    <div >
        <span class="game__title">{{ content.field_game_name.0['#context'].value }}</span>
    </div>
</a>
