{% if page.header %}
    <header role="banner">
        {{ page.header }}
    </header>
{% endif %}

{{ page.primary_menu }}

<main role="main">
    {{ page.content }}
</main>

{% if page.footer %}
    <footer class="footer" role="contentinfo">
        {{ page.footer }}
    </footer>
{% endif %}